.auth-content {
    //background-color: #172b4d;
    background-image: url('../../../assets/img/theme/img-1-1000x600.jpg');
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: auto;
    // overflow: hidden;
    overflow: auto;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}