<!-- <div class="container-block ">
	<footer class="footer bg-default">
		<div class="row align-items-center justify-content-xl-between">
			<div class="col-xl-6">
				<div class="copyright text-center text-xl-left text-muted">
					&copy; {{ test | date: "yyyy" }}
					All rights reserved © 
					<a
						href="https://www.prototype.com.my"
						class="font-weight-bold ml-1"
						target="_blank"
					>
						Prototype
					</a>
				</div>
			</div>
		</div>
	</footer>
</div> -->

<div class="container-block">
    <div class="footer bg-default">
        <div class="section section-shaped no-tilt">
            <div class="shape shape-style-1 shape-default">
                <span> </span> <span> </span> <span> </span> <span> </span>
                <span> </span> <span> </span>
            </div>
            <!-- <div class="subscribe-line">
          <div class="container">
            <div class="row">
              <div class="col-lg-6 col-sm-10 ml-auto mr-auto">
                <div class="text-center">
                  <h4 class="title text-white">
                    Subscribe to our Newsletter
                  </h4>
                  <p class="description text-white">
                    Join our newsletter and get news in your inbox every
                    week! We hate spam too, so no worries about this.
                  </p>
                </div>
                <form action="" class="mt-4" method="">
                  <div class="row">
                    <div class="col-sm-8">
                      <div class="form-group" [ngClass]="{ 'focused': focus12 === true }">
                        <div
                          class="input-group input-group-alternative mb-4"
                        >
                          <div class="input-group-prepend">
                            <span class="input-group-text">
                              <i class="ni ni-email-83"> </i>
                            </span>
                          </div>
                          <input
                            class="form-control" (blur)="focus12 = false" (focus)="focus12 = true"
                            placeholder="Search"
                            type="text"
                          />
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <button
                        class="btn btn-info btn-block"
                        type="button"
                      >
                        Subscribe
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div> -->
            <footer class="footer bg-transparent">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3">
                            <!-- <div class="dropdown mt-2" dropdown>
                                <button aria-expanded="false" aria-haspopup="true"
                                    class="btn btn-link text-white dropdown-toggle dropdown-toggle"
                                    data-toggle="dropdown" dropdownToggle href="javascript:;" role="button">
                                    <i class="ni ni-pin-3"> </i>
                                    <span> United States </span>
                                </button>
                                <div class="dropdown-menu" *dropdownMenu x-placement="bottom-start">
                                    <a class="dropdown-item" href="javascript:;">
                                        <span> Australia </span>
                                    </a>
                                    <a class="dropdown-item" href="javascript:;">
                                        <span> Belgium </span>
                                    </a>
                                    <a class="dropdown-item" href="javascript:;">
                                        <span> Canada </span>
                                    </a>
                                    <a class="dropdown-item" href="javascript:;">
                                        <span> France </span>
                                    </a>
                                    <a class="dropdown-item" href="javascript:;">
                                        <span> Italy </span>
                                    </a>
                                    <a class="dropdown-item" href="javascript:;">
                                        <span> Portugal </span>
                                    </a>
                                    <a class="dropdown-item" href="javascript:;">
                                        <span> Spain </span>
                                    </a>
                                    <a class="dropdown-item" href="javascript:;">
                                        <span> United States </span>
                                    </a>
                                </div>
                            </div> -->
                            <br />

                            <!-- <div class="dropdown" dropdown>
                                <button aria-expanded="false" aria-haspopup="true"
                                    class="btn btn-link text-white dropdown-toggle dropdown-toggle"
                                    data-toggle="dropdown" dropdownToggle href="javascript:;" role="button">
                                    <i class="ni ni-chat-round"> </i>
                                    <span> English </span>
                                </button>
                                <div class="dropdown-menu" *dropdownMenu x-placement="bottom-start">
                                    <a class="dropdown-item" href="javascript:;">
                                        <span> Deutch </span>
                                    </a>
                                    <a class="dropdown-item" href="javascript:;">
                                        <span> English </span>
                                    </a>
                                    <a class="dropdown-item" href="javascript:;">
                                        <span> Español </span>
                                    </a>
                                    <a class="dropdown-item" href="javascript:;">
                                        <span> Français </span>
                                    </a>
                                    <a class="dropdown-item" href="javascript:;">
                                        <span> Italiano </span>
                                    </a>
                                </div>
                            </div> -->
                            <!-- <li class="copyrights">© Argon Design System</li> -->
                            <div class="copyright text-center text-xl-left text-muted">
                                &copy; {{ test | date: "yyyy" }}
                                All rights reserved ©
                                <a href="https://www.prototype.com.my" class="font-weight-bold ml-1" target="_blank">
                                    Prototype
                                </a>
                            </div>
                        </div>
                        <div class="col-md-2 col-6">
                            <div class="column">
                                <h4 class="mt-3">Products</h4>
                                <ul>
                                    <li>
                                        <a href="javascript:;"> <span> Payments </span> </a>
                                    </li>
                                    <li>
                                        <a href="javascript:;"> <span> Billing </span> </a>
                                    </li>
                                    <li>
                                        <a href="javascript:;"> <span> Connect </span> </a>
                                    </li>
                                    <li>
                                        <a href="javascript:;"> <span> Sigma </span> </a>
                                    </li>
                                    <li>
                                        <a href="javascript:;"> <span> Issuing </span> </a>
                                    </li>
                                    <li>
                                        <a href="javascript:;"> <span> Terminal </span> </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-2 col-6">
                            <div class="column">
                                <h4 class="mt-3">Resources</h4>
                                <ul>
                                    <li class="nav-item">
                                        <a href="https://creative-tim.com/contact-us">
                                            Contact Us
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="https://creative-tim.com/about-us">
                                            About Us
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="https://creative-tim.com/blog"> Blog </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="https://opensource.org/licenses/MIT">
                                            License
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-2 col-6">
                            <div class="column">
                                <h4 class="mt-3">Company</h4>
                                <ul>
                                    <li class="nav-item">
                                        <a href="javascript:;"> Support </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="javascript;:"> Jobs </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="javascript:;"> Privacy </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="javascript:;"> Guides </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="javascript:;"> Pricing </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-3 col-6">
                            <div class="column">
                                <h4 class="mt-3">Follow us:</h4>
                                <div class="btn-wrapper profile text-left">
                                    <a class="btn btn-twitter btn-sm" href="https://twitter.com/creativetim"
                                        target="_blank">
                                        <i class="fab fa-twitter"> </i>
                                    </a>
                                    <a class="btn btn-facebook btn-sm" href="https://www.facebook.com/creativetim"
                                        target="_blank">
                                        <i class="fab fa-facebook-square"> </i>
                                    </a>
                                    <a class="btn btn-slack btn-sm" href="https://dribbble.com/creativetim"
                                        target="_blank">
                                        <i class="fab fa-slack"> </i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
</div>