<div class="header pb-6">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-lg-12 col-7">
                    <h6 class="h2 text-dark d-inline-block mb-0"> Simpanan Shariah Status </h6>

                    <nav aria-label="breadcrumb" class=" d-none d-md-inline-block ml-md-4">
                        <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                            <li class="breadcrumb-item">
                                <a href="javascript:void(0)">
                                    <i class="fas fa-file-invoice-dollar text-dark"></i>
                                </a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="javascript:void(0)" class="text-dark"> Simpanan Shariah </a>
                            </li>
                            <li aria-current="page" class="breadcrumb-item active">
                                Simpanan Shariah Status
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid mt--6">
    <div class="row">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-body">
                    <p><strong>Your EPF account is currently not Syariah compliant. Click <b>Register Now</b> to switch to Simpanan Shariah.</strong></p>
                    <button type="button" class="btn btn-default mt-2" style="border-radius: 15px;">
                        Register
                    </button>
                    <br>
                    <p class="mt-3"><strong>*Please ensure you have updated your profile. Click <a href="#">here</a> to update.</strong></p>
                    <br>
                    <p><strong>Simpanan Shariah Online Registration & Revocation Operating Hours: <br>Mondays to Fridays: 08:00 AM to 09:00 PM <br>Saturdays, Sundays, Federal Territories Public Holidays: 05:00 AM to 07:00 PM</strong></p>
                    <br>
                    <p><strong>For more information, please visit the nearest EPF Office or contact the EPF Contact Management Centre at 03-8922 6000.</strong></p>

                    <br>

                    <img src="assets/img/theme/kwsp-syariah.jpg" alt="About Simpanan Shariah">

                    <br>

                    <p class="mt-3"><strong>Learn more about <a href="https://secure.kwsp.gov.my/ShariahResource/Simpanan_Shariah_en_FA.pdf">Simpanan Shariah</a>.</strong></p>
                </div>
            </div>
        </div>
    </div>
</div>