<div class="header pb-6">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-lg-6 col-7">
                    <h6 class="h2 text-dark d-inline-block mb-0"> Nomination Status </h6>

                    <nav aria-label="breadcrumb" class=" d-none d-md-inline-block ml-md-4">
                        <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                            <li class="breadcrumb-item">
                                <a href="javascript:void(0)">
                                    <i class="fa fa-users text-dark"></i>
                                </a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="javascript:void(0)" class="text-dark"> Nomination </a>
                            </li>
                            <li aria-current="page" class="breadcrumb-item active">
                                Nomination Status
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid mt--6">
    <div class="row">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-body">
                    <span><strong>There is no nomination registered in the EPF record.</strong></span>
                    <br>

                    <ol class="mt-4" style="background-color: khaki;"><strong>Disclaimer :</strong>
                        <li>Members are encouraged to make a nomination to facilitate and expedite the withdrawal of his/her EPF savings by the nominated person(s) in the event of death.</li>
                        <li>Members are advised to name their spouse or next-of-kin, such as spouse, children or parents.</li>
                        <li>Members are advised to always check the nomination status from time to time and to update as and when necessary.</li>
                        <li>Updating members' nomination information is subject to the EPF terms and conditions.</li>

                        <br>
                        <p><strong>For more information, please visit the nearest EPF branch or contact the EPF Contact Management Centre at 03-8922 6000.</strong></p>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>