<div class="header pb-6">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-lg-6 col-7">
                    <h6 class="h2 text-dark d-inline-block mb-0"> Change Password </h6>

                    <nav aria-label="breadcrumb" class=" d-none d-md-inline-block ml-md-4">
                        <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                            <li class="breadcrumb-item">
                                <a href="javascript:void(0)">
                                    <i class="fas fa-user-edit text-dark"></i>
                                </a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="javascript:void(0)" class="text-dark"> Profile </a>
                            </li>
                            <li aria-current="page" class="breadcrumb-item active">
                                Change Password
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid mt--6">
    <div class="row">
        <div class="col-xl-12">
            <div class="card mt-3">
                <div class="card-body">
                    <form action="">
                        <div class="row">
                            <div class="col-lg-4">
                                <p class="h3 mb-0"><b>Current Password<span class="text-red">*</span></b></p>
                            </div>
                            <div class="col-lg-8">
                                <input class=" form-control" id="example-password-input" type="password" value="" />
                            </div>
                        </div>
    
                        <div class="row mt-3">
                            <div class="col-lg-4">
                                <p class="h3 mb-0"><b>New Password<span class="text-red">*</span></b></p>
                            </div>
                            <div class="col-lg-8">
                                <input class=" form-control" id="example-password-input" type="password" value="" />
                            </div>
                        </div>
    
                        <div class="row mt-3">
                            <div class="col-lg-4">
                                <p class="h3 mb-0"><b>Confirm New Password<span class="text-red">*</span></b></p>
                            </div>
                            <div class="col-lg-8">
                                <input class=" form-control" id="example-password-input" type="password" value="" />
                            </div>
                        </div>
                        <br>
    
                        <span class="text-red mt-5">*Mandatory</span>
    
                        <div class="col-xl-12 text-right">
                            <button type="reset" class="btn btn-default mt-2" style="border-radius: 15px;">
                                Reset
                            </button>
                            <button type="button" class="btn btn-default mt-2" style="border-radius: 15px;" (click)="confirm()">
                                Submit
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>