<div class="header pb-6">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-lg-6 col-7">
                    <h6 class="h2 text-dark d-inline-block mb-0"> My Profile </h6>

                    <nav aria-label="breadcrumb" class=" d-none d-md-inline-block ml-md-4">
                        <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                            <li class="breadcrumb-item">
                                <a href="javascript:void(0)">
                                    <i class="fas fa-user-edit text-dark"></i>
                                </a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="javascript:void(0)" class="text-dark"> Profile </a>
                            </li>
                            <li aria-current="page" class="breadcrumb-item active">
                                My Profile
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid mt--6">
    <div class="row">
        <div class="col-xl-12">
            <tabset>
                <tab heading="Profile">
                    <div class="card mt-3">
                        <div class="card-header bg-secondary">
                            <div class="row align-items-center">
                                <div class="col">
                                    <h5 class="h3 mb-0"> View Profile </h5>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-5">
                                    <p class="h3 mb-0"><b>Member's Name</b></p>
                                </div>
                                <div class="col-lg-7">
                                    <p><strong>: ALI IMRAN</strong></p>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-5">
                                    <p class="h3 mb-0"><b>EPF No.</b></p>
                                </div>
                                <div class="col-lg-7">
                                    <p><strong>: 12345678</strong></p>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-5">
                                    <p class="h3 mb-0"><b>Member's ID No.</b></p>
                                </div>
                                <div class="col-lg-7">
                                    <p><strong>: 990101-01-1235</strong></p>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-5">
                                    <p class="h3 mb-0"><b>Passport No.</b></p>
                                </div>
                                <div class="col-lg-7">
                                    <p><strong>: </strong></p>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-5">
                                    <p class="h3 mb-0"><b>Date of Birth</b></p>
                                </div>
                                <div class="col-lg-7">
                                    <p><strong>: 01 JAN 1999</strong></p>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-5">
                                    <p class="h3 mb-0"><b>Gender<span class="text-red">*</span></b></p>
                                </div>
                                <div class="col-lg-7">
                                    <p><strong>: MALE</strong></p>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-5">
                                    <p class="h3 mb-0"><b>Race<span class="text-red">*</span></b></p>
                                </div>
                                <div class="col-lg-7">
                                    <p><strong>: MALAY</strong></p>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-5">
                                    <p class="h3 mb-0"><b>Religion<span class="text-red">*</span></b></p>
                                </div>
                                <div class="col-lg-7">
                                    <p><strong>: ISLAM</strong></p>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-5">
                                    <p class="h3 mb-0"><b>Date of EPF Membership</b></p>
                                </div>
                                <div class="col-lg-7">
                                    <p><strong>: 30 JAN 2020</strong></p>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-5">
                                    <p class="h3 mb-0"><b>Date of i-Akaun Membership</b></p>
                                </div>
                                <div class="col-lg-7">
                                    <p><strong>: 30 JAN 2020</strong></p>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-5">
                                    <p class="h3 mb-0"><b>i-Akaun Status</b></p>
                                </div>
                                <div class="col-lg-7">
                                    <p><strong>: ACTIVE</strong></p>
                                </div>
                            </div>

                        </div>

                        <p>Disclaimer:I certify that the information provided in this form is up-to-date, complete and
                            accurate. I understand that this information will be used by the Government of Malaysia for
                            official communications in all official business related to me.</p>
                    </div>
                </tab>

                <tab heading="Address">
                    <div class="card mt-3">
                        <div class="card-header bg-secondary">
                            <div class="row align-items-center">
                                <div class="col">
                                    <h5 class="h3 mb-0"> Address </h5>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <p><strong>Correspondence Address:</strong></p>
                            <div class="row">
                                <div class="col-lg-5">
                                    <p class="h3 mb-0"><b>Address<span class="text-red">*</span></b></p>
                                </div>
                                <div class="col-lg-7">
                                    <p><strong>: 123A, Jalan Raja Udang</strong></p>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-5">
                                    <p class="h3 mb-0"><b>Postcode<span class="text-red">*</span></b></p>
                                </div>
                                <div class="col-lg-7">
                                    <p><strong>: 48500</strong></p>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-5">
                                    <p class="h3 mb-0"><b>City<span class="text-red">*</span></b></p>
                                </div>
                                <div class="col-lg-7">
                                    <p><strong>: Petaling</strong></p>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-5">
                                    <p class="h3 mb-0"><b>State<span class="text-red">*</span></b></p>
                                </div>
                                <div class="col-lg-7">
                                    <p><strong>: Selangor</strong></p>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-5">
                                    <p class="h3 mb-0"><b>Country<span class="text-red">*</span></b></p>
                                </div>
                                <div class="col-lg-7">
                                    <p><strong>: Malaysia</strong></p>
                                </div>
                            </div>

                            <div class="col-xl-12 text-right">
                                <button type="button" class="btn btn-default mt-2" style="border-radius: 15px;">
                                    Edit
                                </button>
                            </div>
                        </div>

                        <span class="text-red">*Mandatory</span>
                        <p style="background-color: khaki;">Disclaimer: I certify that the information filled in this
                            form is current,complete and
                            accurate. I understand that this address will be used by the Government of Malaysia as an
                            address for official communication in all official business related to me.</p>

                        <div class="card-body">
                            <span><strong>Permanent Address:</strong></span>
                            <p>Permanent Address can only be updated at any EPF office.</p>
                            <div class="row">
                                <div class="col-lg-5">
                                    <p class="h3 mb-0"><b>Address</b></p>
                                </div>
                                <div class="col-lg-7">
                                    <p><strong>: 123A, Jalan Raja Udang, 48500 Petaling, Selangor </strong></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </tab>

                <tab heading="Contact">
                    <div class="card mt-3">
                        <div class="card-header bg-secondary">
                            <div class="row align-items-center">
                                <div class="col">
                                    <h5 class="h3 mb-0"> Contact Information </h5>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-5">
                                    <p class="h3 mb-0"><b>Email<span class="text-red">*</span></b></p>
                                </div>
                                <div class="col-lg-7">
                                    <p><strong>: ali_imran@gmail.com</strong></p>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-5">
                                    <p class="h3 mb-0"><b>House Phone No.</b></p>
                                </div>
                                <div class="col-lg-7">
                                    <p><strong>: 03-1234567</strong></p>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-5">
                                    <p class="h3 mb-0"><b>Office Phone No.</b></p>
                                </div>
                                <div class="col-lg-7">
                                    <p><strong>: 03-1234567</strong></p>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-5">
                                    <p class="h3 mb-0"><b>Mobile Phone No.<span class="text-red">*</span></b></p>
                                </div>
                                <div class="col-lg-7">
                                    <p><strong>: 012-3456789</strong></p>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-5">
                                    <p class="h3 mb-0"><b><span>Mobile Phone Registered for TAC <i>(Register/Update at EPF Kiosk/Counter)</i></span></b></p>
                                </div>
                                <div class="col-lg-7">
                                    <p><strong>: 012-345678</strong></p>
                                </div>
                            </div>
                            <br>

                            <span class="text-red mt-5">*Mandatory</span>
                            <p style="background-color: khaki;">Disclaimer: I certify that the information filled in
                                this form is current, complete and accurate. I understand that this contact information
                                will be used by the Government of Malaysia as an information for official communication
                                in all official business related to me.</p>

                            <div class="col-xl-12 text-right">
                                <button type="button" class="btn btn-default mt-2" style="border-radius: 15px;">
                                    Edit
                                </button>
                            </div>
                        </div>


                    </div>
                </tab>
            </tabset>
        </div>
    </div>
</div>