<div class="header pb-6">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-lg-12 col-7">
                    <h6 class="h2 text-dark d-inline-block mb-0"> Withdrawal History </h6>

                    <nav aria-label="breadcrumb" class=" d-none d-md-inline-block ml-md-4">
                        <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                            <li class="breadcrumb-item">
                                <a href="javascript:void(0)">
                                    <i class="fas fa-hand-holding-usd text-dark"></i>
                                </a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="javascript:void(0)" class="text-dark"> Withdrawal </a>
                            </li>
                            <li aria-current="page" class="breadcrumb-item active">
                                Withdrawal History
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid mt--6">
    <div class="row">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-header bg-secondary">
					<div class="row align-items-center">
						<div class="col">
							<h5 class="h3 mb-0"> Search Criteria </h5>
						</div>
					</div>
				</div>

				<div class="card-body">
                    <div class="row">
                        <div class="col-lg-4">
                            <p class="h3 mb-0"><b>Withdrawal Type</b></p>
                        </div>
                        <div class="col-lg-5">
                            <select class="form-control custom-select">
                                <option hidden selected>Please pick</option>
                                <option> Health </option>
                                <option> Buy/Build House </option>
                                <option> Reduce/Redeem Housing Loan </option>
                                <option> Education </option>
                                <option> Housing Loan Installament </option>
                                <option> i-Lestari </option>
                                <option> Savings of More Than RM1 Million </option>
                            </select>
                        </div>
                        <div class="col-lg-3 mt-0">
                            <button type="button" class="btn btn-default" style="border-radius: 15px;">
                                Search
                            </button>
                        </div>
                    </div>
                    <br>

                    <div class="col-xl-12">
                        <div class="dataTables_wrapper py-4">
                            <div class="row">
                                <div class="col-sm-12 col-md-6">
                                    <div class="dataTables_length" id="datatable_length">
                                        <label>
                                            Show
                                            <select name="datatable_length" aria-controls="datatable"
                                                class="form-control form-control-sm" (change)="entriesChange($event)">
                                                <option value="5" [selected]="entries==5">5</option>
                                                <option value="10" [selected]="entries==10">10</option>
                                                <option value="15" [selected]="entries==15">15</option>
                                                <option value="-1" [selected]="entries==-1">All</option>
                                            </select>
                                            entries
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-6">
                                    <div id="datatable_filter" class="dataTables_filter">
                                        <label>
                                            <input type="search" class="form-control form-control-sm"
                                                placeholder="Search records" aria-controls="datatable"
                                                (keyup)="filterTable($event)" />
                                        </label>
                                    </div>
                                </div>
                            </div>
    
                            <ngx-datatable class="bootstrap selection-cell" [columnMode]="'force'" [headerHeight]="50"
                                [footerHeight]="50" [rowHeight]="'auto'" [limit]="entries != -1 ? entries:undefined"
                                [rows]="temp">
    
                                <!-- <ngx-datatable-column name="No">
                                    <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
                                        <strong>{{ rowIndex + 1 }}</strong>
                                    </ng-template>
                                </ngx-datatable-column> -->
                                <ngx-datatable-column name="Date Applied">
                                    <ng-template let-row="row" ngx-datatable-cell-template>
                                        {{row.submitDate}}
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column name="Withdrawal Type">
                                    <ng-template let-row="row" ngx-datatable-cell-template>
                                        {{row.type}}
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column name="EPF Submission Office">
                                    <ng-template let-row="row" ngx-datatable-cell-template>
                                        {{row.office}}
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column name="Status">
                                    <!-- <ng-template ngx-datatable-header-template>
                                    <span> Announcement Status </span>
                                    </ng-template> -->
                                    <ng-template let-row="row" ngx-datatable-cell-template>
                                        <span *ngIf="row.status == 'approved'"
                                            class="badge badge-pill badge-success">Approved</span>
                                        <!-- <span *ngIf="row.status == 'tobepublish'" class="badge badge-pill badge-warning">To
                                            be published</span> -->
                                        <span *ngIf="row.status == 'reject'"
                                            class="badge badge-pill badge-danger">Reject</span>
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column name="Date Approved">
                                    <ng-template let-row="row" ngx-datatable-cell-template>
                                        {{row.approvedDate}}
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column name="Action">
                                    <ng-template let-row="row" ngx-datatable-cell-template>
                                        <!-- <button class=" btn btn-icon btn-danger btn-sm" type="button" title="Action" (click)="confirm()">
                                            <span class=" btn-inner--icon"> <i class=" fas fa-times-circle"> </i> </span>
                                        </button> -->
                                        <button class=" btn btn-icon btn-default btn-sm" type="button" title="View"
                                            (click)="openModal(viewAction)">
                                            <span class=" btn-inner--icon"> <i class=" far fa-eye"> </i> </span>
                                        </button>
                                        <!-- <button class=" btn btn-icon btn-success btn-sm" type="button" title="Edit" (click)="openModal(edit)">
                                            <span class=" btn-inner--icon"> <i class=" fas fa-edit"> </i> </span>
                                        </button> -->
                                        <span>-</span>
                                    </ng-template>
                                </ngx-datatable-column>
                            </ngx-datatable>
                        </div>
                    </div>
				</div>
            </div>
        </div>
    </div>
</div>

<ng-template #viewAction>
	<div class=" modal-header bg-default ">
        <h6 class=" modal-title text-white" id="modal-title-default">
            Withdraw History Details
        </h6>
  
        <button
          aria-label="Close"
          class=" close"
          data-dismiss="modal"
          type="button"
          (click)="modalRef.hide()"
        >
          <span class="text-white" aria-hidden="true"> × </span>
        </button>
    </div>

    <div class="modal-body">
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-5">
                        <p class="h3 mb-0"><b>Withdrawal Type</b></p>
                    </div>
                    <div class="col-lg-7">
                        <p><strong>: i-Lestari</strong></p>
                    </div>
                    <div class="col-lg-5">
                        <p class="h3 mb-0"><b>Reference No.</b></p>
                    </div>
                    <div class="col-lg-7">
                        <p><strong>: 12345</strong></p>
                    </div>
                </div>
            </div>
            <br>

            <div class="col-lg-12 mt-3">
                <label class="form-control-label"> Withdrawal Payment Information </label>
                <div class="dataTables_wrapper py-4">

                    <ngx-datatable class="bootstrap selection-cell" [columnMode]="'force'" [headerHeight]="50"
                        [footerHeight]="50" [rowHeight]="'auto'" [limit]="entries != -1 ? entries:undefined"
                        [rows]="temp">

                        <!-- <ngx-datatable-column name="No">
                            <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
                                <strong>{{ rowIndex + 1 }}</strong>
                            </ng-template>
                        </ngx-datatable-column> -->
                        <ngx-datatable-column name="Payee Name">
                            <ng-template let-row="row" ngx-datatable-cell-template>
                                {{row.payName}}
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Payment Mode">
                            <ng-template let-row="row" ngx-datatable-cell-template>
                                {{row.paymentMode}}
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Monthly Recurring Payment Start Date">
                            <ng-template let-row="row" ngx-datatable-cell-template>
                                {{row.startDate}}
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Monthly Recurring Payment End Date">
                            <ng-template let-row="row" ngx-datatable-cell-template>
                                {{row.endDate}}
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Application Status">
                            <!-- <ng-template ngx-datatable-header-template>
                            <span> Announcement Status </span>
                            </ng-template> -->
                            <ng-template let-row="row" ngx-datatable-cell-template>
                                <span *ngIf="row.status1 == 'approved'"
                                    class="badge badge-pill badge-success">Active</span>
                                <!-- <span *ngIf="row.status == 'tobepublish'" class="badge badge-pill badge-warning">To
                                    be published</span> -->
                                <span *ngIf="row.status1 == 'try'"
                                    class="badge badge-pill badge-danger">Reject</span>
                            </ng-template>
                        </ngx-datatable-column>
                    </ngx-datatable>
                </div>
            </div>
            <br>
			
			<div class="col-lg-12 mt-3">
                <label class="form-control-label"> Withdrawal Payment History </label>
                <div class="dataTables_wrapper py-4">

                    <ngx-datatable class="bootstrap selection-cell" [columnMode]="'force'" [headerHeight]="50"
                        [footerHeight]="50" [rowHeight]="'auto'" [limit]="entries != -1 ? entries:undefined"
                        [rows]="temp">

                        <!-- <ngx-datatable-column name="No">
                            <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
                                <strong>{{ rowIndex + 1 }}</strong>
                            </ng-template>
                        </ngx-datatable-column> -->
                        <ngx-datatable-column name="Payee Name">
                            <ng-template let-row="row" ngx-datatable-cell-template>
                                {{row.payName}}
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Payment Mode">
                            <ng-template let-row="row" ngx-datatable-cell-template>
                                {{row.paymentMode}}
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Date">
                            <ng-template let-row="row" ngx-datatable-cell-template>
                                {{row.date}}
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Payment Amount (RM)">
                            <ng-template let-row="row" ngx-datatable-cell-template>
                                {{row.amount}}
                            </ng-template>
                        </ngx-datatable-column>
                    </ngx-datatable>
                </div>
            </div>
        </div>
    </div>

    <div class=" modal-footer">
        <!-- <button 
            class=" btn btn-default text-white" 
            type="button" 
            class="btn btn-success"
            (click)="change()"
        >
            Request Change
	    </button> -->
        <button
            class=" btn btn-link btn-danger ml-auto text-white"
            data-dismiss="modal"
            type="button"
            (click)="modalRef.hide()"
        >
            Close
        </button>
	</div>
</ng-template>